html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(#5BB8BC, #5071A7);
  display: flex;
  align-items: center;
}

button {
  cursor: pointer;
}

button:active {
  background: #0000009c;
}

dialog { 
  text-align: center; 
}

canvas.fullscreen { 
  height: 100%;
  width: 100%;
  position: absolute;
}

#mainMenu {
  height: 100%;
  width: 100%;
  position: absolute;


  display: flex;
  align-items: center;
  justify-content: center;
}

#logoContainer {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#buttonContainer {
  width: 50%;
  height: calc(100vw - 65vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

#logo {
  width: 80%;
}

.menuButtons {
  width: 100%;
  margin-left: 20%;
  height: 20%;
  background: #313131;
  color: white;
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  border-width: 0;
  font-size: 4.5vi;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#hud {
  position: absolute;
  height: 100%;
  width: 100%;
}



#valuationContainer {
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: -10%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.valuationButton {
  width: 5%;
  height: 100%;
  font-size: 2vi;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #313131;
  border-width: 0;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
}

.valuationIcon, .valuationScore {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  height: 100%;
  width: 100%;
}

#rollingDiv {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.diceDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  aspect-ratio: 1/1;
  font-size: 3vi;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: gray;
}