#categoryBackground_id {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#categoryContainer_id {
    position: absolute;
    width: calc(100vw - 5vh);
    height: calc(100vh - 5vh);
    background-color: #313131;
    border-radius: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categoriesHidden {
    transition: margin-top 2s linear;
    margin-top: 200%;
}

.categoriesShown {
    transition: margin-top 2s linear;
    margin-top: 0%;
}

#categoryHeader_id {
    height: 25%;
    width: 100%;
    background: #36417E;
    box-shadow: 0 0.5vw 0.5vw 0 rgba(0, 0, 0, 0.25);
    border-radius: 1.5vw 1.5vw 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#categoryTitle_id {
    padding-left: 3%;
    color: white;
    font-family: "Bungee";
    font-size: 5vi;
}

#categoryContent_id {
    height: 75%;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(6, calc(100%/6));
    justify-items: center;
    align-items: center;
}

.categoryButtons {
    position: relative;
    width: 80%;
    aspect-ratio: 1/1;
    background: #4A4A4A;
    box-shadow: 0 0.5vw 0.5vw 0 rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3vw;
}

.categoryButtons:disabled {
    background: #202020;
}

.categoryImages {
    width: 90%;
    aspect-ratio: 1/1;
}

.categoryImagesTransparent {
    opacity: 0.2;
}

.categoryButtons:active {
    filter: brightness(100%);
    transform: scale(1);
}

.categoryPoints {
    position: absolute;
    color: white;
    font-family: "Bungee";
    font-size: 4vi;
    text-shadow: 0.1vi 0.1vi 2vi #000000;
}