html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

canvas.fullscreen { 
  height: 100%;
  width: 100%;
  position: absolute;
}

#DiceCup {
  height: 100%;
  width: 100%;
  position: absolute;
}

img {
  pointer-events: none;
}

button {
  cursor: pointer;
}

.diceCupButtons {
  border-width: 0;
  border-radius: 2vw;
  box-shadow: var(--box_shadow);
}

.diceCupButtons:active {
  transform: scale(0.9);
  filter: brightness(80%);
}

.diceCupButtonsIcons {
  width: 80%;
  aspect-ratio: 1/1;
}

.emptyBackground {
  background: var(--background_fade);
}