html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

canvas.fullscreen { 
  height: 100%;
  width: 100%;
  position: absolute;
}

img {
  pointer-events: none;
}

button {
  cursor: pointer;
}

button:active {
  filter: brightness(80%);
}

.diceCupButtons {
  box-shadow: 0 0.5vw 0.5vw 0 rgba(0, 0, 0, 0.25);
  border-width: 0;
  border-radius: 2vw;
}

.diceCupButtons:active {
  transform: scale(0.9);
}