#game {
  height: 100%;
  width: 100%;
  background: linear-gradient(#5BB8BC, #5071A7);
}

#rollingDiv_id {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.diceDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  aspect-ratio: 1/1;
  font-size: 3vi;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: gray;
}