.gameMenus {
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(#5BB8BC, #5071A7);
    display: flex;
}

#mainMenu_id {
    align-items: center;
    justify-content: center;
}
  
#logoContainer_id {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo_id {
    width: 80%;
}

#buttonContainer_id {
    height: calc(100vw - 65vw);
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

.menuButtons {
    width: 45%;
    height: 45%;
    margin: 2.5%;
    background: #2F4260;
    color: white;
    font-size: 4.5vi;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuButtonsIcons {
    width: 70%;
    aspect-ratio: 1/1;
}




.subGameMenus {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.gameMenuTitles {
    width: 96vw;
    height: 10vw;
    line-height: 10vw;
    font-size: 5vw;
    color: white;
    font-family: "Bungee";
    text-shadow: 0vi 0.4vi 0.4vi rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
}

.gameMenuContent {
    width: 96vw;
    height: 100%;
}

.gameMenuButtonArea {
    width: 96vw;
    height: 20vw;
    display: flex;
}

.gameMenuLeftButtonArea, .gameMenuRightButtonArea {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2vw;
}

.gameMenuLeftButtonArea {
    justify-content: left;
}

.gameMenuRightButtonArea {
    justify-content: right;
}

.gameMenuButtons {
    height: 9vw;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #2F4260;
    color: white;
}


#singleplayerMenuContent_id, #multiplayerLobbyMenuContent_id  {
    display: flex;
    justify-content: space-between;
}

.lobbyPortrait {
    width: 12vw;
    aspect-ratio: 1/1;
}

.lobbyPortrait_active {
    background: #2F4260;
    position: relative;
}

.lobbyPortrait_active:active, .lobbyPortrait_inactive:active {
    transform: scale(1);
    filter: brightness(100%);
}

.lobbyPortrait_inactive {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.5) !important;
    background: rgba(47, 66, 96, 0.5) !important;
}

.lobbyPortraitIcons {
    width: 70%;
    aspect-ratio: 1/1;
}

.lobbyPortraitIcons_inactive {
    width: 70%;
    aspect-ratio: 1/1;
    opacity: 50%;
}

.lobbyContainer {
    height: 23vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.waitContainer {
    height: 18vw;
}

.nameInputs, .difficultySwitch {
    width: 11vw;
    border-width: 0;
    aspect-ratio: 1/0.25;
    border-radius: 3vh;
    background: #3E5373;
    color: white;
    text-align: center;
    font-size: 1.5vi;
    font-family: "Inter";
    font-weight: bold;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.25);
}

.nameInputs::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.difficultySwitch {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switchDifficulty {
    width: 25%;
    border-width: 0;
    background: transparent;
    color: rgba(255, 255, 255, 0.5);
    height: 100%;
}

.switchButtonIcons {
    height: 50%;
    width: 1vw;
    color: rgba(255, 255, 255, 0.5);
}

.switchDifficultyText {
    width: 50%;
    margin-top: -1%;
    overflow: hidden;
}

.removeButton {
    position: absolute;
    width: 2.5vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border-width: 0;
    background: #CF4C4C;
    right: 0;
    top: 0;
    margin-right: -0.8vw;
    margin-top: -0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.removeButton:active {
    transform: scale(0.9);
}

.removeButtonIcons {
    height: 60%;
    aspect-ratio: 1/1;
}

.gameMenuStartButtons {
    width: 50%;
    background: #2A3546;
    font-family: "Bungee";
    font-size: 5vi;
    display: flex;
    justify-content: center;
    align-items: center;
}