#summaryBackground_id {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#summaryContainer_id {
    position: absolute;
    width: calc(100vw - 5vh);
    height: calc(100vh - 5vh);
    background-color: #313131;
    border-radius: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#summaryContent_id {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% repeat(12, calc(70%/12)) 10%;
    grid-template-rows: repeat(7, calc(100%/7));
    justify-items: center;
    align-items: center;
}

.summaryHidden {
    transition: margin-bottom 2s linear;
    margin-bottom: 200%;
}

.summaryShown {
    transition: margin-bottom 2s linear;
    margin-bottom: 0%;
}

.summaryImgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summaryImg {
    width: 70%;
    aspect-ratio: 1/1;
}

div[id^="summaryGrid"] {
    width: 100%;
    height: 100%;
}

.summaryRow_0 {
    border-bottom: 0.1vw solid #444444;
}

.summaryColumn_0 {
    border-right: 0.1vw solid #444444;
}

.summaryColumn_13 {
    border-left: 0.1vw solid #444444;
}

.summaryText {
    width: 100%;
    height: 100%;
    font-family: "Bungee";
    color: rgb(255, 255, 255);
    font-size: 3vi;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-shadow: 0.2vi 0.2vi 1vi #000000;
}

.headerRow {
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
}

.headerRow, .headerCol {
    color: #ffffff;
    text-shadow: 0vi 0vi 0vi #000000;
}