:root {
    /* Fonts */
    --main_font: "Bungee";
    --text_font: "Inter";

    /* Game Variables */
    --background_fade_1: var(--cyan_fade);
    --background_fade_2: var(--blue_fade);
    --background_fade: linear-gradient(var(--background_fade_1), var(--background_fade_2));

    --text_color: var(--white);
    --box_shadow: 0 0.2em 0.2em var(--black_shadow);
    --text_shadow: 0vi 0.4vi 0.4vi var(--black_shadow);
    --text_placeholder: var(--white_shadow);

    /* Menu Variables */
    --menu_title_color: var(--white);
    --menu_title_fontsize: 5vi;
    --menu_buttons_background: var(--blue);
    --menu_buttons_color: var(--white);
    --menu_buttons_fontsize: 4vi;
    --menu_next_buttons: var(--blue_dark);
    --menu_next_buttons_fontsize: 3.5vi;
    --menu_options_fontsize: 2.5vi;
    --menu_options_dropdown_fontsize: 2vi;
    --menu_options_color: var(--white);
    --menu_help_color: var(--white);
    --menu_help_fontsize: 3vi;
    --menu_help_sub_fontsize: 2.4vi;
    --menu_online_status_fontsize: 1.2vi;
    --menu_online_status_color: var(--white_shadow);

    /* Lobby Variables */
    --lobby_portrait_color: var(--white);
    --lobby_portrait_background: var(--blue);
    --lobby_portrait_background_inactive: var(--blue_shadow);
    --lobby_text: var(--white);
    --lobby_alert_color: var(--white);
    --lobby_alert_fontsize: 2.5vi;
    --lobby_text_inactive: var(--white_shadow);
    --lobby_names_background: var(--blue_light);
    --lobby_names_background_sub: var(--blue_light);
    --lobby_names_fontsize: 1.5vi;
    --lobby_remove_button_background: var(--red_light);
    --lobby_youindicator_background: var(--white);

    /* Serverlist Variables */
    --serverlist_background_color: var(--blue_shadow);
    --serverlist_background_color_focus: var(--black_shadow);
    --serverlist_color: var(--white);
    --serverlist_fontsize: 2.5vi;
    --serverlist_cell_border: 0.001vh solid var(--blue_lighter);

    /* Transition Variables */
    --transition_text_color: var(--white);
    --transition_text_fontsize: 10vi;
    --transition_text_wordspacing: 3vi;

    /* Hud Variables */
    --hud_background: var(--black);
    --hud_timer_background: var(--black);
    --hud_timer_color: var(--blue_highlight);

    /* Category Panel Variables */
    --category_background: var(--black);
    --category_header: var(--blue_highlight);
    --category_header_sub: var(--black);
    --category_buttons: var(--gray);
    --category_buttons_disabled: var(--black_darkest);
    --category_title_fontcolor: var(--white);
    --category_title_fontsize: 5vi;
    --category_points_fontcolor: var(--white);
    --category_points_fontsize: 4vi;

    /* Summary Panel Variables */
    --summary_background: var(--black);
    --summary_sub_background: var(--black_darker);
    --summary_border: 0.1vw solid var(--gray);
    --summary_text_header: var(--white);
    --summary_text_highlight: var(--white);
    --summary_text_color: var(--gray_lighter);
    --summary_text_fontsize: 2.5vi;

    /* Placements Panel Variables */
    --placements_title_color: var(--white);
    --placements_title_fontsize: 5vi;
    --placements_portrait_background: var(--blue);
    --placements_names_background: var(--blue_light);
    --placements_names_color: var(--white);
    --placements_names_fontsize: 1.5vi;
    --placements_points_background: var(--white);
    --placements_points_color: var(--blue_light);
    --placements_points_fontsize: 2vi;
    --placements_phrase_color: var(--white);
    --placements_phrase_fontsize: 3vi;
    --placements_medals_fontsize: 1.8vi;
    --placements_medals_4plus_color: var(--medal_font);
    --placements_medals_4plus_background: var(--medal_main);
    --placements_medals_4plus_bordercolor: var(--medal_sub);
    --placements_medals_3_color: var(--third_medal_sub);
    --placements_medals_3_background: var(--third_medal_main);
    --placements_medals_3_bordercolor: var(--third_medal_sub);
    --placements_medals_2_color: var(--second_medal_sub);
    --placements_medals_2_background: var(--second_medal_main);
    --placements_medals_2_bordercolor: var(--second_medal_sub);
    --placements_medals_1_color: var(--first_medal_sub);
    --placements_medals_1_background: var(--first_medal_main);
    --placements_medals_1_bordercolor: var(--first_medal_sub);
}