#helpMenuContent_id {
    display: flex;
    flex-direction: column;
    line-height: 8vh;
    color: var(--menu_help_color);
    font-family: var(--text_font);
}

#helpSubtitle_id {
    padding-bottom: 3vh;
    text-shadow: var(--text_shadow);
    font-size: var(--menu_help_fontsize);
}

#helpContent_id {
    display: flex;
    flex-direction: column;
    font-size: var(--menu_help_sub_fontsize);
}

#helpRow3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#helpRow4 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#helpIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
}

.helpIcons {
    height: var(--menu_help_sub_fontsize);
}

.exampleIcons {
    position: absolute;
    right: 2vw;
    height: 40%;
}