#hud_id {
  position: absolute;
  height: 100%;
  width: 100%;
}

#hudTimerContainer_id {
  position: absolute;
  width: 100%;
  height: 1vw;
  overflow: hidden;
  background: var(--hud_timer_background);
}

#hudTimer_id {
  width: 100%;
  height: 100%;
  background: var(--hud_timer_color);
}
  
#valuationContainer_id {
  width: 100%;
  height: 20%;
  bottom: -10%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.valuation {
  width: 5%;
  height: 100%;
  border-radius: 1.5vw;
  display: flex;
  flex-direction: column;
  background-color: var(--hud_background);
}

.valuationHidden {
  transform: translateY(100%);
  transition: transform 1s linear, visibility 1s linear;
  will-change: transform;
}

.valuationShow {
  transform: translateY(0%);
  transition: transform 1s linear;
  will-change: transform;
}

.valuationIcon, .valuationScore {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.valuationImage {
  width: 75%;
  aspect-ratio: 1/1;
}

#waitAlert_id {
  top: 10vh;
  width: 100%;
  text-align: center;
  position: absolute;
  color: var(--hud_alert_color);
  font-family: var(--text_font);
  font-size: var(--hud_alert_fontsize);
  text-shadow: var(--text_shadow);
}

#waitAlert_id::after {
  content: "";
  animation: dot-animation 3s linear infinite;
}