.gameMenus {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    background: var(--background_fade);
}

#mainMenu_id {
    align-items: center;
    justify-content: center;
}
  
#logoContainer_id {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo_id {
    width: 80%;
}

#buttonContainer_id {
    height: calc(100vw - 65vw);
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

.menuButtons {
    width: 45%;
    height: 45%;
    margin: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--menu_buttons_background);
    color: var(--menu_buttons_color);
    font-size: var(--menu_buttons_fontsize);
}

.menuButtonsIcons {
    width: 70%;
    aspect-ratio: 1/1;
}


.subGameMenus {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.gameMenuTitles {
    width: 96vw;
    height: 10vw;
    line-height: 10vw;
    display: flex;
    justify-content: center;
    color: var(--menu_title_color);
    font-size: var(--menu_title_fontsize);
    font-family: var(--main_font);
    text-shadow: var(--text_shadow);   
}

.gameMenuContent {
    width: 96vw;
    height: 100%;
}

.gameMenuButtonArea {
    width: 96vw;
    height: 20vw;
    display: flex;
}

.gameMenuLeftButtonArea, .gameMenuRightButtonArea {
    height: 100%;
    gap: 2vw;
    display: flex;
    align-items: center;
}

.gameMenuLeftButtonArea {
    width: 25%;
    justify-content: left;
}

.gameMenuMidButtonArea {
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

.gameMenuRightButtonArea {
    width: 25%;
    justify-content: right;
}

.gameMenuButtons {
    height: 9vw;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--menu_buttons_background);
    color: var(--menu_buttons_color);
}

.gameMenuAlert {
    font-family: var(--text_font);
    font-size: var(--lobby_alert_fontsize);
    color: var(--lobby_alert_color);
    justify-content: center;
    padding: 1vi;
}


#singleplayerMenuContent_id, #multiplayerLobbyMenuContent_id  {
    display: flex;
    justify-content: space-between;
}

.lobbyPortrait {
    width: 12vw;
    aspect-ratio: 1/1;
}

.lobbyPortrait_active {
    position: relative;
    background: var(--lobby_portrait_background);
}

.lobbyPortrait_active:active, .lobbyPortrait_inactive:active {
    transform: scale(1);
    filter: brightness(100%);
}

.lobbyPortrait_inactive {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lobby_text_inactive) !important;
    background: var(--lobby_portrait_background_inactive) !important;
}

.lobbyPortraitIcons {
    width: 70%;
    aspect-ratio: 1/1;
}

.lobbyPortraitIcons_inactive {
    width: 70%;
    aspect-ratio: 1/1;
    opacity: 50%;
}

.lobbyContainer {
    height: 23vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.waitContainer {
    height: 18vw;
}

.nameInputs, .difficultySwitch {
    width: 11vw;
    border-width: 0;
    aspect-ratio: 1/0.25;
    border-radius: 3vh;
    text-align: center;
    font-weight: bold;
    font-size: var(--lobby_names_fontsize);
    font-family: var(--text_font);
    color: var(--lobby_text);
    box-shadow: var(--box_shadow);
    background: var(--lobby_names_background);
}

.nameInputs::placeholder {
    color: var(--text_placeholder);
}

.difficultySwitch {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switchDifficulty {
    width: 25%;
    border-width: 0;
    background: transparent;
    height: 100%;
}

.switchButtonIcons {
    height: 50%;
    width: 1vw;
}

.switchDifficultyText {
    width: 50%;
    margin-top: -1%;
    overflow: hidden;
}

.removeButton {
    position: absolute;
    width: 2.5vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border-width: 0;
    right: 0;
    top: 0;
    margin-right: -0.8vw;
    margin-top: -0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--lobby_remove_button_background);
}

.removeButton:active {
    transform: scale(0.9);
}

.removeButtonIcons {
    height: 60%;
    aspect-ratio: 1/1;
}

.gameMenuStartButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--menu_next_buttons);
    font-family: var(--main_font);
    font-size: var(--menu_next_buttons_fontsize);
}