#summaryBackground_id {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#summaryContainer_id {
    width: calc(100vw - 5vh);
    height: calc(100vh - 5vh);
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5vw;
    background-color: var(--summary_background);
}

#summaryContent_id {
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 18%  12% repeat(12, calc(70%/12));
    grid-template-rows: repeat(7, calc(100%/7));
}

.summaryHidden {
    transition: transform 2s linear;
    transform: translateY(200%);
    will-change: transform;
}

.summaryShown {
    transition: transform 2s linear;
    transform: translateY(0%);
    will-change: transform;
}

.summaryImgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summaryImg {
    width: 60%;
    aspect-ratio: 1/1;
}

div[id^="summaryGrid"] {
    width: 100%;
    height: 100%;
}

.summaryRow_0 {
    border-bottom: var(--summary_border);
    background-color: var(--summary_sub_background);
    z-index: 1;
}

.summaryColumn_0 {
    background-color: var(--summary_sub_background);
}

.summaryColumn_1 {
    border-left: var(--summary_border);
    border-right: var(--summary_border);
    /* background-color: var(--summary_sub_background); */
    z-index: 2;
}

#summaryText_id__playerNames {
    position: absolute;
}

#summaryTimer_id {
    width: 100%;
    height: 100%;
    background: var(--category_header);
}

#summaryGrid_id_1_1 {
    border-top: var(--summary_border);
}

.summaryText {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: var(--main_font);

    color: var(--summary_text_color);
    font-size: var(--summary_text_fontsize);
}

.summaryHighlight {
    color: var(--summary_text_highlight);
    text-shadow: var(--text_shadow);
}

.sumRow {
    color: var(--summary_text_header);
    text-shadow: var(--text_shadow);
}

.headerRow {
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
}

.headerRow, .headerCol {
    color: var(--summary_text_header);
    font-family: var(--text_font);
    text-shadow: var(--text_shadow);
}